 .u-section-1 {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(71, 138, 201, 0.5)), url('images/DSCF2574.JPG');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-1 .u-text-1 {
  margin: 109px auto 0 36px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 9px auto 0 37px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 1px auto 0 35px;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 207px;
  height: 207px;
  margin: 17px 36px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 246px;
  height: 300px;
  --radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -155px auto 0 53px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -269px auto 0 357px;
  padding: 38px 85px 39px 84px;
}

.u-section-1 .u-text-3 {
  margin: 194px auto 0 58px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 28px auto 0 203px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -28px 224px 0 786px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0 54px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -48px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -24px 56px 60px 635px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 157px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 648px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 496px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 152px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 168px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 106px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 190px;
  }
}